# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env
.venv

# VSCode
.vscode/

# Model and scaler files
*.pkl

# User data
users.json

# Logs and system files
*.log
.DS_Store


